<title>ProjectOscar</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge"><!--Enabling Support for IE8-->
<link rel="apple-touch-icon" href="{{ url_for('static', filename='img/icon.png') }}">

<!-- CSS -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/dataTables.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/ProjectOscar.css') }}">

<!-- JS -->
<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
<script src="{{ url_for('static', filename='js/dataTables.js') }}"></script>
<script src="{{ url_for('static', filename='js/ProjectOscar.js') }}"></script>